<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selepathy</title>
</head>
<body>
    <%= id %>로 전송된 이메일을 확인해주시고 '인증' 버튼을 눌러주세요!
    

</body>
</html>