<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style='zoom:3.5; margin-top:45px'>
    <h1>로그인</h1>
    <form action="/" method="POST">
        <input type="text" id="id" name="id" placeholder="ID">
        <br />
        <input id="pwd" name="pwd" type="password" placeholder="Password">
        <br>
        <button type="submit" style="padding: 1em;
		background: hsl(233deg 36% 38%);
		color: hsl(0 0 100);
		border: none;
		border-radius: 30px;
		font-weight: 600; padding-left: 67px; padding-right: 67px; margin-top: 10px;">Login</button>
    </form>
    <br />
    <a href="http://localhost:3000/signup">회원가입</a>
    <a href="http://localhost:3000/signup">비밀번호 찾기</a>
    <a href="http://localhost:3000/signup">아이디 찾기</a>
    <h1> <%= id %></h1>
    
</body>
<script>
    
</script>

</html>