<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전음</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato);
 * {
	 box-sizing: border-box;
}
body{
        align-items : center;
        height: 100%;
        overflow: hidden ;
        background-image:url('https://yhw-back-img.s3.ap-northeast-2.amazonaws.com/background-image.png') ;
        background-repeat : no-repeat;
        background-size : cover;
        
    }
/* #backcolor{
    background: #333;
	 color: #e8e8e8;
     width: 90%;
	 min-height: 88vh;
	 min-width: 20rem;
	 margin: 1em auto;
	 border-radius: 8px;
	 padding: 1.5rem;
	 font-family: 'Lato', sans-serif;
} */
 #container {
    background: #333;
	 color: #e8e8e8;
	 width: 80%;
	 min-height: 120vh;
	 min-width: 20rem;
	 margin: 1em auto;
	 border-radius: 8px;
	 padding: 1.5rem;
	 font-family: 'Lato', sans-serif;
}

 #container .message {
	 display: flex;
	 flex-direction: horizontal;
	 margin: 1.5rem 0;
	 position: relative;
}
 #container .message .picture {
	 background: #666;
	 width: 4rem;
	 height: 4rem;
	 border-radius: 50%;
	 margin-right: 2rem;
	 line-height: 4rem;
	 vertical-align: bottom;
	 font-size: 2rem;
	 font-weight: bold;
	 text-align: center;
}
#container{
    width: 50%;
}
 #container .message .contents {
	 background: #1c1c1c;
	 flex: 1;
	 margin-right: calc(4rem - 1rem - 0.5rem);
	 align-self: center;
	 padding: 0.75rem 1rem;
	 border-radius: 4px;
}
 #container .message .contents::before {
	 content: '';
	 display: block;
	 position: absolute;
	 top: calc(4rem/2 - 0.75rem/2);
	 left: calc(4rem + 2rem - 0.75rem/2);
	 background: #1c1c1c;
	 width: 0.75rem;
	 height: 0.75rem;
	 transform: rotate(45deg);
}
 #container .mine {
	 flex-direction: row-reverse;
}
 #container .mine .picture {
	 margin-left: 2rem;
	 margin-right: 0;
}
 #container .mine .contents {
	 margin-right: 0;
	 margin-left: calc(4rem - 1rem - 0.5rem);
	 background: #17191c;
}
 #container .mine .contents::before {
	 position: absolute;
	 background: #17191c;
	 left: auto;
	 right: calc(4rem + 2rem - 0.75rem/2);
}
 
    </style>
</head>
<body>
    
    <div id="container">
        
        <div id="backcolor">
            <ul>
                <li class="message">
                  <div class="picture">(:</div>
                  <div class="contents">
                    These are the message's contents.
                    <br />
                    Adding more text to see how it turns out.
                    <br />
                    And yet some
                    <br />
                    more
                    <br />
                    lines
                  </div>
                </li>
                
                <li class="message">
                  <div class="picture">(:</div>
                  <div class="contents">
                    This is another comment
                    <br />
                    with two lines
                  </div>
                </li>
                
                <li class="message mine">
                  <div class="picture">:)</div>
                  <div class="contents">Some other message</div>
                </li>
                
                <li class="message">
                  <div class="picture">(:</div>
                  <div class="contents">Some other message</div>
                </li>
              </ul>
        </div>   
        
      </div>
</body>
</html>