<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h1>Signup please</h1>
    <form action="/signup" method="POST">
        <input type="text" id="id" name="id" placeholder="ID">
        <br />
        <input id="pwd" name="pwd" type="password" placeholder="Password">
        <br />
        <input id="name" name="name" type="text" placeholder="name">
        <button type="submit">Signup</button>
    </form>
    
</body>
</html>